<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="stacc_recommender" translate="label" sortOrder="10000">
            <label>Stacc Recommender</label>
        </tab>
        <section id="stacc_recommender" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Configuration</label>
            <tab>stacc_recommender</tab>
            <resource>Stacc_Recommender::config</resource>
            <group id="configuration" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Recommender Configuration</label>
                <field id="stacc_shop_id" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>STACC Shop ID</label>
                </field>
                <field id="stacc_api_key" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>STACC API Key</label>
                </field>
                <field id="stacc_version_number" type="column" translate="label" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Recommender Extension Version</label>
                    <frontend_model>Stacc\Recommender\Block\Adminhtml\Menu\Field\Version</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>